/**
 * Cottage THeme stylesheet
 *  
 * @title       Web style guide 
 * @author      Alex Wyett (alex@wyett.co.uk)
 * @document    Main Static Page stylesheet
 * @description This is the main stylesheet for the wordpress cottage theme. 
 */

/* ==========================================================================
   Imports
============================================================================ */

// Global variables
@site-width: 1000px;
@site-inner-width: 940px;
@header-height: 100px;
@logo-width: 280px;
@gutter-width: 10px;
@gutter-color: #FFF;
@background-color: #FFF;
@wrapper-color: @background-color;
@theme-color: #407849;
@theme-color-dark: #285A34;
@theme-color-light: #2A5E38;
@theme-color-highlight: #417B4B;
@link-hover-color: #004A55;
@menu-link-color: #FFFFFF;
@footer-color: #EEE;
@footer-height: 100px;
@border-color: #CCC;
@quicksearch-color: #EEE;

@unavailable: #EEE;
@available: #428bca;
@changeover: #5cb85c;
@selected: #fcf8e3;

// Mixins
@import 'comp/mixins.less';

// Header
@import 'comp/header.less';

// breadcrumb
@import 'comp/breadcrumb.less';

// Sidebar
@import 'comp/sidebar.less';

// Property Pages
@import 'comp/cottage.less';

// Footer
@import 'comp/footer.less';


* { // No to box model!!1
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

// Body
html {
    position: relative;
    min-height: 100%;
    background: @background-color;
    body {
        margin-bottom: @footer-height;
    }
}

// layout for sticky footer
.wrapper {
    .relative();
    min-height: 100%;
    overflow: hidden;
    background: @wrapper-color;
}

// Layout options
.wrapper, .wrapper-inner { 
    width: @site-width; 
    margin: 0 auto; 
}
    
.inner {
    .clearfix();
    .relative();
    width: @site-inner-width;
    margin: 0 auto;
}

.wrapper-inner {
    padding-bottom: @footer-height; // Footer height
}