/**
 * Cottage THeme stylesheet
 *  
 * @title       Web style guide 
 * @author      Alex Wyett (alex@wyett.co.uk)
 * @document    Main Static Page stylesheet
 * @description This is the main stylesheet for the wordpress cottage theme. 
 */

/* ==========================================================================
   Imports
============================================================================ */

// HTML5 Boilerplate
@import 'comp/normalize.less';

// Mixins
@import 'comp/mixins.less';

// Menus
@import 'comp/menus.less';

// Global variables
@site-width: 960px;
@site-gutter: 20px;
@gutter-color: #FFF;
@background-color: #D9E4E6;
@link-hover-color: #004A55;
@menu-color: #4D8188;
@menu-link-color: #FFFFFF;
@legend-color: #FFFFFF;
@label-color: #FFFFFF;

// Layout options
.wrapper, .wrapper-inner { 
    width: @site-width; 
    margin: 0 auto; 
}
.wrapper-inner { 
    width: (@site-width - (@site-gutter * 2));
}
.main-header {
    .clearfix();
}

// Body
html, body {
    height: 100%; 
    font: 1em/1.4em normal normal Arial, sans-serif;
    background: @background-color;
}
.main-body {
    .box-shadow(0px 0px 8px #999999);
    background: @gutter-color; 
    behavior: url(/PIE.php); 
    position: relative;
    
    .main-body-inner { 
        .clearfix();
        padding: 10px;
    }
}

aside.left {
    float: left; 
    width: 210px;

    .box {
        .absolute(-20px, auto, auto, -20px, 1);
        background: @gutter-color; 
    }
}
.right-panel { 
    float: right; 
    width: 690px; 
    padding-bottom: 100px; 
}

.box {
    .box-shadow(0px 0px 8px #999999);
    behavior: url(/PIE.php); 
    position: relative;
    padding: 10px;
}